################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExerciseFiles/Chap02
/ExerciseFiles/Chap10
/ExerciseFiles/Chap09
/ExerciseFiles/Chap08
/ExerciseFiles/Chap07
/ExerciseFiles/Chap06
/ExerciseFiles/Chap05
/ExerciseFiles/Chap04
/ExerciseFiles/Chap03
